<html>
    <body>


<div class="container" >
    <p style="align-items: center;">Welcome Admin!</p>
    <a href="/doctlist" class="btn btn-info btn-block mb-3">View  Doctros</a><br>
    <a href="/patient-details" class="btn btn-info btn-block">View Patients</a><br>
    <a href="/stafflist" class="btn btn-info btn-block">View Staff</a><br>
    <a href="/paymentlist" class="btn btn-info btn-block">View Payments</a><br>
</div>
<div class="top-corner" id="logout">
    <button class="atu-btn-submit btn btn-danger" (click) = "logout()" id="buss">Logout</button>
</div>
</body>





</html>