<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hospital Management System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <img src="/assets/Images/desktop-wallpaper-medical-cross-symbol-png-hospital-logo-thumbnail.jpg"
            alt=" Hospital" class="center" style="height:20 px;width: 80px;">
        <h2 class="text-center mb-4"> Welcome to Hospital Management System</h2>
        <a href="/login" class="btn btn-primary btn-block mb-3">Admin Login</a>
        <a href="/plogin" class="btn btn-success btn-block">Patient Login</a>
    </div>
   

    


</body>
 <div class="footer" style="align-items: center;display: flex;">
    <footer>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Help</a></li>
            
            
        </ul>
    </footer>
</div>
 


</html>