<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
           
            <div class="row">
                <form #spForm="ngForm" (ngSubmit)="onSubmit()">
                    <h1>Add Payment</h1>
                    <div *ngIf="payment.paymentId==0"></div>
                    <div class="form-group row"  *ngIf="payment.paymentId>0">
                        <label class ="col-sm-6 col-form-label">Payment ID</label>
                        <div class ="col-sm-6">
                            <input type ="text" name="paymentId" [(ngModel)]="payment.paymentId" />
                           
                        </div> 
                    </div>
                
                    
                    <div class="form-group row">
                        <label class ="col-sm-6 col-form-label">Consultation Fee</label>
                        <div class ="col-sm-6">
                            <input type ="text" name="consultationFee" [(ngModel)]="payment.consultationFee"/>
                           
                        </div> 
                    </div>
                    
                    
                    <div class="form-group row">
                        <label class ="col-sm-6 col-form-label">Card Number</label>
                        <div class ="col-sm-6">
                            <input type ="text" name="cardNumber" [(ngModel)]="payment.cardNumber" />
                           
                        </div> 
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-6 col-form-label">CVV</label>
                        <div class ="col-sm-6">
                            <input type ="password" name="cvv" [(ngModel)]="payment.cvv" />
                           
                        </div> 
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-6 col-form-label">Card Holder Name</label>
                        <div class ="col-sm-6">
                            <input type ="text" name="cardHolderName" [(ngModel)]="payment.cardHolderName" />
                           
                        </div> 
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-4"><button type ="submit"class="btn btn-info">Submit</button></div>
                        <div class="col-sm-4"><button type="reset" class="btn btn-info">Reset</button></div>
                      </div>
                    </form>

            </div>
            </div>
            </div>
            </div>


